@import '../../common/colours.scss';

.footer {
  background: #13151a;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-primary;
}
